body.login {
	background: #eee;
}
body.login div#login h1 a {
    background: #fff url() center center no-repeat;
    background-size: contain;
    width: 100%;
    height: 144px;
    display: block;
}

.login form {
	// .. 
} 