.gallery {
    .gallery-item { 
        float: left; 
        text-align: 
        center;
    }
    .gallery-caption { 
        margin: 0px;
    }
}

@mixin wp-gallery-columns( $columnsCount ) { width: ( 100% / $columnsCount ); }

.gallery-columns-1 .gallery-item { @include wp-gallery-columns(1); }
.gallery-columns-2 .gallery-item { @include wp-gallery-columns(2); }
.gallery-columns-3 .gallery-item { @include wp-gallery-columns(3); }
.gallery-columns-4 .gallery-item { @include wp-gallery-columns(4); }
.gallery-columns-5 .gallery-item { @include wp-gallery-columns(5); }
.gallery-columns-6 .gallery-item { @include wp-gallery-columns(6); }
.gallery-columns-7 .gallery-item { @include wp-gallery-columns(7); }
.gallery-columns-8 .gallery-item { @include wp-gallery-columns(8); }
.gallery-columns-9 .gallery-item { @include wp-gallery-columns(9); }