@mixin clearfix {
    &:before, &:after {
        display: table;
        content: ' ';
        clear: both;
    }
}

@mixin container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    @include clearfix();
}

@mixin reset-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

@mixin box-shadow ($string) {
    -webkit-box-shadow: $string;
    -moz-box-shadow:    $string;
    box-shadow:         $string;
}

@mixin button() {
    background: $link-color;
    padding: 10px 20px;
    border: none;
    width: auto;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    transition: all 0.2s;
    &:hover {
        background: darken($link-color, 10%);
    }
}

@mixin mobile() {
    @media #{$mobile} { @content; }
}

@mixin tablet() {
    @media #{$tablet} { @content; }
}

@mixin desktop() {
    @media #{$desktop} { @content; }
}

@mixin desktop-lg() {
    @media #{$desktop-lg} { @content; }
}