$content-max-width: 1200px;
$link-color: #09f;

$mobile:      "only screen and (max-width: 479px)";
$tablet:      "only screen and (min-width: 767px)";
$desktop:     "only screen and (min-width: 959px)";
$desktop-xl:  "only screen and (min-width: 1199px)";